# code: language=github-actions.workflows tabSize=2
---
name: Build
on:
  push:
    tags-ignore:
      - v*
    paths:
      - .github/workflows/build.yml
      - .goreleaser.yaml
      - "**.go"
      - go.mod
      - go.sum
  pull_request:
    paths:
      - .github/workflows/build.yml
      - .goreleaser.yaml
      - "**.go"
      - go.mod
      - go.sum

permissions:
  contents: read

env:
  GO_VERSION: ${{ vars.golang_version || '1.24' }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run tests (only for pull requests)
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          set -e
          echo "Running unit tests..."
          go test ./...

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v6.4.0
        with:
          distribution: goreleaser
          version: latest
          # goreleaser v2 replaced --skip-validate with --skip=validate
          args: build --skip=validate --clean --single-target --id linux
