# code: language=github-actions.workflows tabSize=2
---
name: Release

on:
  push:
    tags:
      - v*.*.*

permissions:
  contents: write

env:
  LINT_VERSION: ${{ vars.golangci_version || '1.55.2' }}
  GO_VERSION: ${{ vars.golang_version || '1.24' }}

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v6.4.0
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
